services:
  bot:
    build: .
    container_name: remnabuy_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./bot_data.db:/app/bot_data.db
    networks:
      - remnawave-network

networks:
  remnawave-network:
    external: true

